html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: gray;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;  
}


.square { 
  /* positioning */
  display: flex;
  align-items: center;
  justify-content: center;  
}

.board > .square {
  /* decoration */
  border: 1px solid black;  
  cursor: pointer;  
  user-select: none;    
}

.square > p {
  font-size: calc(var(--square-size) - 20px);    
  font-weight: bold;
}

.square.win {
  color: red;
}

.App {
  flex-grow: 1;
  /* margin-left: 100px;
  margin-right: 100px; */
  
 /*  width: 100%;
  height: 100%; */
  
  background-color: white;

  display: flex;
  flex-direction: column;
}

.App > :not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.App > header {
  background-color: mediumaquamarine;
  color: white;  
  text-align: center;
}

.App > main {
  flex-grow: 1;
}

.App > main > .game > * {
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.App > footer {
  background-color: gray;
  color: white;  
  text-align: right;
}



.game {
  display: grid;
  grid-gap: 10px;    
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas: 
      "settings ."
      "board board"
      "board board"
      "status status";
  height: 100%;

  min-height: var(--board-size);
  /* padding: 25px;  */ 
}

.board {
  --square-size: 60px;
  --count: 3;
  --board-size: calc(var(--square-size) * var(--count));
  
  display: grid;
  grid-template-columns: repeat(var(--count), var(--square-size));
  grid-template-rows: repeat(var(--count), var(--square-size) );

  grid-area: board;
  justify-self: center;
  align-self: center;
}

.panel-settings {
  display: grid;
  grid-auto-rows: minmax(30px, auto);
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: center;
  grid-area: settings;
}

.status {
  grid-area: status;
  justify-self: center;
  align-self: center;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;

  background-color: mediumaquamarine;
}

.status > * {
  margin: 5px;
  align-self: center;    
}